/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import url("https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css");
@import "bootstrap";
.link{
  padding-left: 0;
  padding-right: 0;
}
body{
  font-family: fantasy;
  overflow-x: hidden; 
}
.navbar{
  background-color:#AAF0D1;
}
.navbar a{
  text-decoration: none;
  color:purple;
  font-weight: 300;
}
.contain{
  padding-left: 0px;
}
.link-in{
  padding-left: 10px;
}
.logo1{
  width: 70px;
}
.logo2{
  width: 170px;
}
.container{
  width: 35%;
  padding: 0px 0px 30px 0px;
  box-shadow: -4px -5px 19px -4px rgba(140, 157, 184, 0.52);
  border-radius: 20px;
  background-color: white;
  margin-top: 120px;
}
.productindex  {
  margin-top: 120px;
}
.sign{
  background-color:#AAF0D1;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top:30px;
}
.form-body{
  padding: 0px 25px 0px 25px; 
}
.btn1{
  width: 95%;
  margin: auto;
}
.btn1-body{
  background-color:#AAF0D1;
}
.linkto a{
  text-decoration: none;
}
.linkto{
  text-align: center;
}
.container-login{
  width: 28%;
  padding: 0px 0px 30px 0px;
  box-shadow: -4px -5px 19px -4px rgba(140, 157, 184, 0.52);
  border-radius: 20px; 
  margin: auto;
  background-color: white;
  margin-top:120px;
}
.links-file a{
  text-decoration: none;
  font-size:15px;
}
.link1{
  padding: 0;
}
.error{
  color: red;
}
.table-head{
  background-color: #AAF0D1;
  color: purple;
}
.notice{
  margin: 60px 0px 0px 0px;
}
.alert{
  margin: 60px 0px 0px 0px;
}
ul{
  list-style-type: none;
}

li{
  margin-bottom: 20px;
}

.view{
  margin-top:20px;
  margin: 10;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
}
.shop a{
  text-decoration: none;
  margin-left: 20px;
  float: right;
}
.shop{
  margin-right:20px;
}
table a{
  text-decoration: none;
}
.btn-pro{
  background-color: #AAF0D1;
}
.btn-pro:hover{
  background-color:  #89c5aa;
}
.card{
  box-shadow: -4px -5px 19px -4px rgba(140, 157, 184, 0.52);
  margin: 10px;
  padding:0px;
}
select{
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border-color: 1px solid #ced4da;
  border: 1px solid #ced4da;
  background: white;
}
.product-img{
  width:15rem;
  height: 220px;
}
.list2{
  padding-left:20px;
}
.container a{
  text-decoration: none;
  color: black;
}
.container-pro{
  margin-top: 90px;
  width: 50%;
  padding: 0px 0px 30px 0px;
  box-shadow: -4px -5px 19px -4px rgba(140, 157, 184, 0.52);
  border-radius: 20px;
  background: white;
  margin-left:20px;
}
.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.product-img:hover{
  opacity:0.6;
}
.product-img2{
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 50%;
  height: 150px;
  margin-top: 40px;
}
.col-img{
  margin-left:20px;
}
.btn-cart2{
  background-color:  #AAF0D1;
}
.item{
  width:65%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
}
.item-body{
  margin-top: 5.5rem;
}
.plus{
  padding: 0;
}
.btn-item{
  background-color:  #AAF0D1;
  border: 0px;
  border-radius: 100%;
  width:27px;
}
.quantity{
  padding: 0;
  font-size: large;
}
.num{
  font-size: larger;
  font-weight: 600;
}
.bill{
  margin-left:10px;
  float: right;
}
.btn-pro1{
  background-color: #AAF0D1;
  float: right;
  margin-right: 20px;
}
.btn-pro1:hover{
  background-color:  #89c5aa;
}
.plus button{
  border: 0;
  border-radius: 100%;
  background-color: #AAF0D1;
}
.plus button:hover{
  background-color:  #89c5aa;
}
.btn-cart{
  background-color: #AAF0D1;
}
.btn-cart:hover{
  background-color:  #89c5aa;
}
.check{
  height: 20px;
  margin-top: 60px;
  margin-left: 50px;
  padding-right: 0px;
}
.summery{
  box-shadow: -4px 7px 19px -2px rgba(0,0,0,0.75);
  width: 30%;
  padding: 30px;
  float: right;
  margin-right:20px;
  background-color: white;
  border-radius: 10px;
}
.summery a{
  text-decoration: none;
}
.btn-checkout{
  background-color: #AAF0D1;
  float: right;
  margin-right: 20px;
}
.btn-checkout:hover{
  background-color:  #89c5aa;
}
.btn-pro-del{
  background-color: #AAF0D1;
  float: right;
  margin-right: 20px;
}
.btn-pro-del:hover{
  background-color:  #89c5aa;
}
.address{
  box-shadow: -6px 4px 25px -17px  #89c5aa;
  border-radius: 10px;
  margin-left:20px;
  padding: 20px 10px 20px 10px;
  width:50%;
  background-color: white;
}
.checkout-pro{
  box-shadow: -6px 4px 25px -17px  #89c5aa;
  border-radius: 10px;
  margin-left:20px;
  padding:10px;
  width:50%;
  background-color: white;
  margin-top: 20px;
}
.checkout-img{
  display: block;
  margin-left:auto;
  width: 55%;
  height: 130px;
}
.chec-detail{
  margin-top:10px;
}
.item-checkout{
  margin-top:20px;
  width:100%;
}
.btn-order{
  background-color:  #AAF0D1;
  width:100%;
}
.btn-order:hover{
  background-color:  #89c5aa;
}
.btn-edit{
  background-color: #AAF0D1;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin-left: 170px;
}
.btn-edit:hover{
  background-color:  #89c5aa;
}
.back{
  margin-left: 20px;
}
.side{
  background-color: #AAF0D1;
}
.btn-edit2{
  background-color: #AAF0D1;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
.btn-edit2:hover{
  background-color:  #89c5aa;
}
.side a{
  color: purple;
  font-size: larger;
  font-weight: 800;
}
.side a:hover{
  color: purple;
}
.table a{
  color:purple ;
}
.dash{
  width: 90%;
  float: right;
  margin-top:100px;
  margin-left: 200px;
}
.searchbar{
  margin-right: 15px;
}
.btn-search{
  background-color: purple;
  height: 38px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.btn-search:hover{
  background-color: purple;
}
.btn-add-pro{
  background-color: #AAF0D1;
  margin-left:50px;
}
.btn-add-pro:hover{
  background-color:  #89c5aa;
}
.review{
  margin-top: 90px;
  padding-left:50px;
}