<div class='rating mt-3'>
  <% if review.user.present?%>
    <% name =review.user %>
    <b><%= name.first_name %> <%= name.last_name %></b>
  <% else %>
    <b>unknown user</b>
  <% end %>
  :<%= review.body %>
  <div class="product_rating" user_rating= '<%= review.rating %>'></div>
</div>
